{% extends 'layout.html' %}

{% block title %} Login de Usuarios {% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <!-- Que aparezca el mensaje de fallo en la identificación del usuario-->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">
            {{message}}
        </div>
    {% endfor %}
    {% endif %} 
    
    <!-- Para mostrar los errores en el relleno del formulario -->
    {{register_form.errors}}

        <!-- Creación del formulario -->
    <form method="post" action ="">
        {%csrf_token%}
        
        <br><label for="username">Nombre de usuario</label><br>
        <br><input type="text1" name="username" /><br>

        <br><label for="password">Contraseña</label><br>
        <br><input type="password" name="password" /><br>

        <input type="submit" value="Login" />

    </form>


{% endblock %}