{% extends 'layout.html' %}

{% block title %} Login de Usuarios {% endblock %}

{% block content %}

    <!-- Display the user identification failure message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">{{message}}</div>
        {% endfor %}
    {% endif %} 
    
    <!-- To display errors in the form fill-in. -->
    {{register_form.errors}}

        <!-- Form creation -->
    <form method="post" action ="">
        {%csrf_token%}
        
        <br><label for="username">Nombre de usuario</label><br>
        <br><input type="text1" name="username"/><br>

        <br><label for="password">Contraseña</label><br>
        <br><input type="password" name="password"/><br>

        <input type="submit" value="Login"/>

    </form>

    {% load static %}

    <div><img class="oficinaempleo" src="{% static 'images/oficina5.png' %}" /></div>

{% endblock %}