{% extends 'layout.html' %}

{% block title %} The Coffee experience! {% endblock %}

{% block content %}

    <p>Dicen que hacemos un café excelente y que ese es el principal motivo por el que la mayoría de nuestros clientes se plantean trabajar con Onestic. Otros, sin embargo, atribuyen su confianza en nuestro equipo al hecho de que nos ocupemos del e-commerce de Pepe Jeans, Hackett London, Pronovias, Pandora, Bering Time y Grupo Cofares, además de otras compañías. </p>
    <br>
    <p>Lo que hacemos con estas marcas es poco habitual en otras compañías similares a la nuestra. Pero es fundamental para el negocio de nuestros clientes. Significa que no solo asumimos el diseño y desarrollo de la tienda sino también la vigilancia y optimización de nuestros servidores. Consiguiendo un rendimiento espectacular.</p>
    <br>
    <p>Y luego está nuestro Smartie, una pequeña bestia maquinada por nuestros programadores más extravagantes para conseguir que las cosas sean exactamente como a nuestros clientes les gustaría que fueran. Nada más y nada menos.</p>
    <br>
    <p>Consiste en un sistema de organización y gestión de catálogo que permite enlazar el sistema e-commerce con el ERP, realizar un seguimiento de la vida del producto, organizar parrillas, detectar oportunidades de negocio, monitorizar la tienda y lanzar propagaciones de catálogo a los entornos productivos y otros canales como Ebay, Google o Amazon. Es cierto que Smartie no es capaz, todavía, de plegar el espacio-tiempo, pero estamos en ello.</p>
    <br>
    <p>Y, por supuesto, todo el sector sabe que además de ingenieros con una rara habilidad para preparar un exprés especialmente cremoso, somos analistas y diseñadores y que por esa razón las marcas de moda permiten que hagamos magia con sus tiendas online.</p>
    <br>
    <p>Ambas cosas, el café y la magia, son igual de necesarias.</p>
    <br>
    <h3>Bienvenido a Onestic.</h3>

    {% load static %}

    <div><img class="nuestraofi" src="{% static 'images/oficina1.png' %}" /></div>

{% endblock %}

