{% extends 'layout.html' %}

{% block title %} Registro de Usuarios {% endblock %}

{% block content %}
    
    <!-- To display errors in the form fill-in -->
    {{register_form.errors}}

        <!-- Create form -->
    <form method="post" action ="">
        {%csrf_token%}
        
        <!-- I display field by field if I want to be very specific: -->
        <label class="registro">

            {{register_form.username.label}}
            <input class="input" type="text1" name="username" value="{% if register_form.username.value %}{{ register_form.username.value }}{% endif %}" />
            
            {{register_form.first_name.label}}
            <input class="input" type="text1" name="first_name" value="{% if register_form.first_name.value %}{{ register_form.first_name.value }}{% endif %}" />

            {{register_form.last_name.label}}
            <input class="input" type="text1" name="last_name" value="{% if register_form.last_name.value %}{{ register_form.last_name.value }}{% endif %}" />

            {{register_form.email.label}}
            <input class="input" type="text1" name="email" value="{% if register_form.email.value %}{{ register_form.email.value }}{% endif %}" />

            {{register_form.password1.label}}
            <input class="input" type="password" name="password1" value="{% if register_form.password1.value %}{{ register_form.password1.value }}{% endif %}" />

            {{register_form.password2.label}}
            <input class="input" type="password" name="password2" value="{% if register_form.password2.value %}{{ register_form.password2.value }}{% endif %}" />

        </label>

            <input type="submit" value="Registrarse"/>
    </form>

    {% load static %}

    <div><img class="logomadera" src="{% static 'images/oficina6.png' %}" /></div>

{% endblock %}