
{% extends 'layout.html' %}

{% block title %} Carga de Datos con Formulario Django en SQL {% endblock %}

{% block content %}

    <form action="{% url 'save' %}" method="POST">

        {% csrf_token %}

        </br>
        <label for="title">Titulo</label>
        <input class="input" type="text" name="title" placeholder="   Introduce el nombre del producto" />

        <label for="content">Contenido</label>
        <input class="input" type="text" name="content" placeholder="   Introduce la descripción del producto"></input>

        <label for="public">¿Publicado?</label>
        <select name="public">
            <!-- If answer SI value=1 = True. If value=0 is False-->
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>

        <label for="categories">¿Qué categoría es?</label>
        <select name="categories">
            <option value="1">Empresas más valoradas del mundo</option>
            <option value="0">Empresas ERP</option>
        </select>

        <input type="submit" value="Guardar"/>

    </form>


{% endblock %}