{% extends 'layout.html' %}

{% block title %} Datos {% endblock %}

{% block content %}
    
    <div class="contact-info">
        <h1 class="title">Empresas en nuestra base de datos </h1>
        <h3>Aquí tienes los nombres y su mercado. Si quieres las puedes eliminar de nuestros registros</h3>

        <div>
            {% for producto in productos %}
                <div>

                        <!-- Para poder ver las imágenes en los productos que tengan imagen cargada en la URL de listas de artículos se hace -->
                        {%if producto.image != 'null' and producto.image.url|length %}

                            <div class = "image">
                            <img src="{{producto.image.url}}"/>
                            </div><br>
                        {%endif%}

                    <h4>{{producto.id}} {{producto.title}}</h4>
                    <p>{{producto.content}}</p>
                    <form method="post" action= "{% url 'delete_product' producto.id %}">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                    <br/>
                    <hr>
                </div>
            {% endfor %}
            </div>

    </div>

{% endblock %}